@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

<h2 class="text-info">Session Id: @HttpContextAccessor.HttpContext.Session.GetInt32("currentUser")</h2>
<br />

<br />
<div class="container row p-0 m-0">
    <div class="col-12 border p-3">
        <table id="DT_load" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Joined</th>
                    <th>Last Login</th>
                    <th>Gender</th>
                    <th>Birthday</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/appUsersList.js"></script>
}
