@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

<h2 class="text-info">List of Followed Users</h2>
<br />

<div class="container row p-0 m-0">
    <div class="col-6">

    </div>
    <div class="col-3 offset-3">
        <a asp-controller="AppUsers" asp-action="ViewProfile" asp-route-id="@HttpContextAccessor.HttpContext.Session.GetInt32("currentUser")" class="btn btn-success form-control">
            Back To Profile
        </a>
        <br />
        <br />
    </div>
    <div class="container row p-0 m-0">
        <div class="col-12 border p-3">
            <table id="DT_load" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Joined</th>
                        <th>Last Login</th>
                        <th>Gender</th>
                        <th>Birthday</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/FollowedUsersList.js"></script>
}