@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to PalRaiser!</h1>
    <br />
    <p>
        PalRaiser is a social crowdfunding platform where you can get financial
        support for your projects from those that care about them, and support
        the projects and their creators that you care about!
    </p>
    <br />
    <p>
        To get started, navigate your way through the tabs above to skim through
        projects, the profiles of those that publish them! Follow users to more
        easily reach their profiles from your own, and see what they are posting
        about and what projects they are publishing!
        
    </p>
    <br />
    <p>
        View a project to see if it interests you and see what its fundraiser goals
        are! Fund it if you can afford to, and report it if it seems suspicious!
        Look through the news and updates about it to see how its development is
        going, and open up discussion topics to talk about it with other users!
    </p>
</div>
