@model PalRaiserMVC.Models.Project

<h2 class="text-info">Funding Successful!</h2>
<br />

<div class="border container" style="padding:30px;">
    <div class="form-group row">
        <div class="col-9">
            <label asp-for="ProjName">Thank you for choosing to support @(Model.ProjName). </label>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-3">
            <a asp-area="" asp-controller="Goals" asp-action="Index" class="btn btn-success">
                Back To Goals
            </a>
        </div>
        <div class="col-3">
            <a asp-area="" asp-controller="Projects" asp-page="ViewProj" asp-route-id="@(Model.ProjectId)" class="btn btn-danger btn-sm">
                Back To Project
            </a>
        </div>
        <div class="col-3">

        </div>
    </div>
</div>

@*@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}*@
